[package]
name = "lspi-lsp"
version.workspace = true
edition.workspace = true

[dependencies]
anyhow.workspace = true
lspi-core = { path = "../lspi-core" }
url.workspace = true
serde.workspace = true
serde_json.workspace = true
tokio.workspace = true
tracing.workspace = true
